﻿@model Blogg.Models.Comment
@using Microsoft.AspNetCore.Identity


@{
    ViewData["Title"] = "Create";
}

@inject UserManager<ApplicationUser> UserManager

<h2>Comments</h2>
<body>
    <div class="row">
        <div class="col-md-4">
            <form name="commentForm" id="commentForm">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group hidden">
                    <label asp-for="Author" class="control-label"></label>
                    <input asp-for="Author" class="form-control" value="@UserManager.GetUserName(User)" />
                    <span asp-validation-for="Author" class="text-danger" )"></span>
                </div>
                <div class="form-group">
                    <label for="Content">New Comment</label>
                    <input asp-for="Content" class="form-control" />
                    <span asp-validation-for="Content" class="text-danger"></span>
                </div>
                <div class="form-group hidden">
                    <label asp-for="PostId" class="control-label"></label>
                    <input asp-for="PostId" class="form-control" value="@ViewData["postId"]" />
                    <span asp-validation-for="PostId" class="text-danger"></span>
                </div>
                <div class="form-group hidden">
                    <label asp-for="Post" class="control-label"></label>
                    <input asp-for="Post" class="form-control" value="null" />
                    <span asp-validation-for="Post" class="text-danger"></span>
                </div>
                <div class="form-group hidden">
                    <input name="jwt" id="jwt" value="@ViewData["token"]"/>
                </div>

                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>
            </form>
        </div>
    </div>
</body>

<ul id="list"></ul>